@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.body {
  padding: 1rem;
  margin-top: 6rem;

  background-color: white;
}

.body.colorChange {
  background: rgb(224, 224, 224);
  background: linear-gradient(
    180deg,
    rgba(224, 224, 224, 1) 0%,
    rgba(246, 246, 246, 1) 22%,
    rgba(242, 242, 242, 1) 46%
  );
}

div.citizens {
  font-weight: 500;
  font-size: 2rem;
  font-family: DM Serif Display;
}

div.header-citizens {
  padding: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 0;
}

img.canada {
  height: 50px;
}

div.canada-section {
  padding-left: 1.8rem;
}

p.partnership {
  margin-bottom: 1.5rem;
}

button.btn-citizen {
  border-radius: 0.6rem;
  margin: 0.5rem;
  text-transform: capitalize;
}
button.aaa {
  background-color: #0c4772;
}
button.bbb {
  background-color: #24dfff;
}

button.aaa:hover {
  background-color: #072941;
  color: rgb(212, 212, 212);
}
button.bbb:hover {
  background-color: #1ebfdc;
  color: rgb(212, 212, 212);
}

div.brand-message {
  padding: 1.8rem;
  display: grid;
  direction: ltr;
  cursor: default;
  gap: 80px;
  grid-template-columns: 1fr 1fr 1fr;
}

.brand-message p {
  padding-right: 5rem;
}
